html, body{
    margin: 0 auto;
}
p, h1, h2, li {
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
li {
    list-style: none;

}
ul {
    margin: 0 auto;
    padding: 0;
}


@media only screen and (min-width: 320px) {
    body {
      background-color: lightblue;
    }
    .about-flex {
        flex-direction: column-reverse;
        display: flex;
    }
    .wrapper {
        width: 80%;
        text-align: center;
    }
    .one {
        justify-content: center;
    }
    .proj-title{
        padding: 0;
        margin: 0;
    }
    .about-project {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10%;
        padding-top: 0;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
    }
    img{
        width: 100%;
        height: 60%;
        padding-top: 10%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro {
        margin: 0 auto;
    }
    .menu {
        display: block;
    }
    .menu-item {
        text-transform: uppercase;
    }
    .prof-pic {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 2.5%;
    }
    .contact-info {
        padding-top: 10px;
        color: darkslategray;
        font-size: 18px;
        padding-bottom: 2%;
    }
    .top-btn{
        float: right;
    }
    .name-bot{
        float: left;
    }
    .foot-border {
        border-top: solid darkgrey 2px;
        margin: 0 auto;
        width: 95%;
    }
    .footer-cont {
        margin-top: 25%;
    }
    .menu-bottom{
        display: none;
    }
}

  @media only screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
    img{
        width: 95%;
    }
    .about-project{
        width: 90%;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
    }
    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .one, .two, .three, .four, .five, .six {
        width: 45%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    ul {
        display: flex;
        justify-content: center;
    }
    .menu-item {
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 18px;
        flex-direction: row;
        text-transform: uppercase;
    }
    .top-name {
        font-size: 22px;
        padding-top: 5%;
    }
    .about-flex{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 2%;
    }
    .prof-pic{
        padding: 0 0 0 0;
        width: 35%;
        margin: 0;

    }
    .intro{
        padding: 0 0 0 0;
        width: 40%;
        margin: 0 1em 0 0;
        text-align: left;
    }
    .menu-bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu-item-bottom{
        font-size: 18px;
        padding: 0 1% 0 1%;
    }
    .top-btn{
        display: none;
    }
    .footer-p {
        width: 70%;
        margin: 0 auto;
    }
  }


  @media only screen and (min-width: 1024px) {
    body {
      background-color: lightblue;
    }
    h1 {
        font-size: 38px;
        padding: 0;
    }
    p {
        font-size: 30px;
    }
    .top-name{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .intro {
        font-size: 24px;
        color: darkslategray;
        padding: 0 5% 0 0;
    }
    .prof-pic {
        width: 30%;

    }
    .footer-p {
        font-size: 24px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .flex-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin: 0 auto;
        padding-top: 1em;
    }
    .menu {
        margin: 0;
    }
    .one, .two, .three, .four, .five, .six {
        width: 30%;
        padding: 0 0 0 0;
        box-sizing: border-box;
    }
    img{
        width: 90%;
    } 
    .about-project {
        width: 90%;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }
    .name-bot{
        font-size: 18px;
    }
    .top-btn {
        display: none;
    }
    .normal, .bold{
        font-size: 20px;
    }
    .bold{
        font-weight: bold;
    }
    .contact-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
    }
    .footer-cont{
        padding-top: 0;
        margin-top: 5%;
    }
    .menu-item {
        display: inline-block;
        margin-left: 15px;
        font-size: 18px;
        padding: 0 5% 0 5%;
        text-transform: uppercase;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
  }